<table id="data" mat-table [dataSource]="configurationHistory" class="mat-elevation-z2">
  <ng-container [matColumnDef]="column" *ngFor="let column of configKeys">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      <span *ngIf="column!='id'">{{getPropertyTranslation(column)}}</span>
    </th>
    <td mat-cell *matCellDef="let element" [ngSwitch]="column">
      <span *ngSwitchCase="'id'">
        <button mat-raised-button color="primary" (click)="loadConfig(element.id)">Load</button>
      </span>
      <span *ngSwitchCase="'timestamp'">{{reformatDate(element['timestamp'])}}</span>
      <span *ngSwitchCase="'engineType'">{{element[column]}}</span>
      <span *ngSwitchDefault [ngSwitch]="element[column]">
        <span *ngSwitchCase="true">&#10003;</span>
        <span *ngSwitchCase="false">&#10007;</span>
      </span>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="configKeys"></tr>
  <tr mat-row *matRowDef="let row; columns: configKeys;"></tr>
</table>
